@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.header {
    background:#1088FF;
}
.navbar {
    border-radius: 0px;
}
.userdropdown{
    color:white;
}
.userimg{
    padding:10px 5px;
}
.userdropdown:hover {
    color:white;
}
.userdropdown:focus {
    color:white;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #1088FF;
    color:white;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F8FAFC;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F8FAFC;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid white;
    font-size:12px;
    border-bottom:0px;
}
.table{
    box-shadow: 2px 2px 2px 2px lightgrey;
    background: white;
}
.editButton {
    color:#1088FF;
}
th {
    text-align: center;
}
td {
    text-align:center;
}
.btn-sm {
    padding: 3px 10px;
}
.headingRow{
    margin-bottom:3%;
}
.search { position: relative; }
.search input { text-indent: 15px;}
.search .fa-search { 
  position: absolute;
  top: 9px;
  color:lightgray;
  left: 7px;
  font-size: 12px;
}
.search input::placeholder {
    color:lightgray;
}