.createCitiesHeading{
    font-size:21px;
    margin:0 0 0;
    font-weight:600;
}
.createCitiesHeadingLine {
    background: #1088FF;
    margin: 0 0 0;
    height: 2px;
    width: 11%;
    float: left;
    margin-left: 33%;
}
.createCitiesBox{
    border-radius:5px;
    background: white;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:4%;
    margin-right:4%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.labelHeading{
    font-size:12px;
    font-weight:500;
    color:#1088FF;
}
.createCitiesInput {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
}
.createCitiesInput::placeholder {
    color:gray;
    font-size:14px;
    text-indent: 10px;
}
.radio-inline{
    font-weight:900;
}
.mapAlignment{
    margin-top:3%;
}
.citiesInputAlignment{
    margin-top:2%;
}
.saveButtonRowAlignment{
    margin-bottom:3%;
    margin-top:1%;
}
.saveButton{
    margin-top:8%;
    width:75%;
    background-color: #1088FF;
    color: white;
    border-color: #1088FF;
}
.generateButton {
    float:right;
    padding:3px 7px;
    margin-top:5%;
    background-color:#1088FF;
    color:white;
    border-color:#1088FF;
    border-radius:5px;
}