.addCitiesBtn{
    background-color:#FF790E;
    border-color:#FF790E;
    color:white;
}
.citiesHeading{
    font-size:21px;
    margin:0 0 0;
    font-weight:600;
}
.citiesHeadingLine {
    background: #1088FF;
    margin: 0 0 0;
    height: 2px;
    width: 33%;
    float: right;
    margin-right: 17%;
}
.citiesSearch ::placeholder {
    color:green;
}
.citiesSearch {
    display: block;
    outline:none;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
}


