.createRosterHeading{
    font-size:21px;
    margin:0 0 0;
    font-weight:600;
}
.createRosterHeadingLine {
    background: #1088FF;
    margin: 0 0 0;
    height: 2px;
    width: 9%;
    margin-left: 43%;
}
.tabHeading {
    background-color: transparent;
    outline: none;
    border: 0;
    color: gray;
    font-weight: 600;
    display: block;
    margin: auto;
}
.tabHeading:active {
    color:black;
}
.outputVisualizationCard{
    background:white;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom:1%;
    border-radius: 5px;
}
.outputVisualizationMap{
margin-bottom: 5%;
margin-left: 1%;
margin-right: 4%;
margin-top: 2%;
}
.outputVisualizationSearch {
    margin-top:8%;
    display: block;
    outline:none;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F2F7F9;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
}
.inputFormButton{
    width:75%;
    background-color: #1088FF;
    outline:none;
    border-radius:6px;
    padding:4px 12px;
    color: white;
    border-color: #1088FF;
}
.uploadButton{
    outline:none;
    border-radius:6px;
    padding: 2px 12px;
    float:right;
    margin-right:30%;
    background-color: #1088FF;
    color: white;
    border-color: #1088FF;
}
.inputFormLabel {
    margin: 0 0 0;
    font-size:12px;
    color:black;
    font-weight:600;
}
.inputFormHeading {
    color:black;
    font-size:14px;
    font-weight:600;
}
.inputFormAlignment {
    padding:4% 0% 0% 5%;
}
.inputFormSubmitRow{
    padding: 3% 4% 2% 4%;
}
.inputFormField {
    width:70%;
    margin-bottom:7%;
        outline: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid black;
}
.inputFormHeadingAlignment {
    margin-bottom:8%;
}
.tabActive{
    border-bottom: 2px solid blue;
    border-radius: 0;
}
.inputvisualization {
    display: none;
}
.output{
    display:none;
}
.outputvisualization {
    display:none;
}
.btn.focus, .btn:focus, .btn:hover {
    outline: none;
    border:0px solid transparent;
}
.noBorderBottom {
	border-bottom: none;
}
