.createRosterBtn{
    background-color:#FF790E;
    border-color:#FF790E;
    color:white;
}
.rosterHeading{
    font-size:21px;
    margin:0 0 0;
    font-weight:600;
}
.rosterHeadingLine {
    background: #1088FF;
    margin: 0 0 0;
    height: 2px;
    width: 40%;
    float: right;
}